<!--
    Назначение:
    Шаблон используется на индексной странице блога и выводит краткое представление статьи блога.

    Логика:
    Если в странице задан параметр .summary, то используем его.
    Если его нет, то используем .Summary.
    Если и с ним проблемы, то задействуем .description.
    
    TODO: Нужно обработать отсутствие контента в целом.
-->
<article>
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis">
                World
            </strong>
            <h2 class="mb-0">
                {{- .Title -}}
            </h2>
            <div class="mb-1 text-body-secondary">
                {{ .Date | time.Format ":date_full" }}
            </div>

                {{- with .Params.summary -}}
                        <p class="card-text mb-auto">
                        {{- . -}}
                        </p>
                    {{- else -}}
                        {{- with .Summary -}}
                            {{- . -}}
                        {{- else -}}
                            {{- if .Params.description -}}
                                {{ .Params.description }}
                            {{- end -}}
                        {{- end -}}
                {{- end -}}

            <a href="{{ .Permalink }}"class="icon-link gap-1 icon-link-hover stretched-link">
                Continue reading
                <svg class="bi"><use xlink:href="#chevron-right" /></svg>
            </a>
        </div>
        <div class="col-auto d-none d-lg-block">
            {{ partial "placeholders/200x250.svg" . }}
        </div>
    </div>
</article>