{{ $bootstrap := site.Params.css.bootstrap.use | default true -}}
{{ $currentPage := . -}}
<header>
{{ if eq $bootstrap true -}}
    {{/* Включение блока для Bootstrap */ -}}
    <nav class="py-2 bg-body-tertiary border-bottom" aria-label="{{- i18n "main_menu" -}}" id="MainMenu">
        <div class="container d-flex flex-wrap">
            {{ partial "page/mainmenu" . -}}
            {{ partial "menu/translations/flat" . -}}
        </div>
    </nav>
{{ else -}}
    {{/* Включение блока для PicoCSS и собственного стиля */ -}}
    <h1>{{ site.Title }}</h1>
    <nav aria-label="{{- i18n "main_menu" -}}" id="MainMenu">
        {{ partial "page/mainmenu" . }}
        {{ partial "menu/translations/flat" . -}}
    </nav>
{{ end -}}
{{ if eq $bootstrap true -}}
    {{/* Включение блока для Bootstrap */ -}}
    <div class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">

                <img class="rounded" src="{{ "favicons/logo.svg" | relURL }}" alt="{{ site.Title }}" width="64" height="64">

                <span class="fs-3">{{ site.Title }}</span>
            </a>
            {{/* TODO: Сюда нужно добавить ссылки на социальные сети */}}
        </div>
    </div>
{{ else -}}
    {{/* Включение блока для PicoCSS и собственного стиля */ -}}

{{ end -}}
</header>