<nav aria-label="{{- i18n "main_menu" -}}" id="MainMenu">
    <ul>
        <li><strong>{{ $.Site.Title }}</strong></li>
    </ul>
    <ul>
    {{- $currentPage := . -}}
        {{- range .Site.Menus.main -}}
            {{- if ne .Identifier "home" -}}
                <li>
                    <a href="{{ .URL | relLangURL }}" {{if  eq $currentPage.Section .Identifier }} class="contrast" {{else}} class="contrast" {{end}}>
                    {{- .Name -}}
                    </a>
                </li>
            {{- end -}}
    {{- end -}}
    </ul>
    <ul>
        {{- partial "page/translations-dropdown.html" . -}}
    </ul>
</nav>