<li class="nav-item dropdown">
    <a
        id="TranslationsDropdown"
        role="button"
        class="nav-link dropdown-toggle"
        href="#"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        >{{- $.Site.Language.LanguageName -}}</a
    >
    <ul class="dropdown-menu" aria-labelledby="TranslationsDropdown">
        {{- range $.Site.Home.AllTranslations -}}
            <li>
            <a class="dropdown-item" href="{{ .Permalink }}">
                {{- .Language.LanguageName -}}
            </a>
            </li>
        {{- end -}}
    </ul>
</li>
