<!--
    Назначение:
    Шаблон используется на страницах списка страниц для отображения их единицы.

    Логика:
    Если в странице задан параметр .summary, то используем его.
    Если его нет, то используем .Summary.
    Если и с ним проблемы, то задействуем .description.
-->
<h2><a href="{{ .Permalink }}">
    {{- .Title -}}
</a></h2>

{{- with .Params.summary -}}
    <p>
        {{- . -}}
    </p>
    {{- else -}}
        {{- with .Summary -}}
            <p>
            {{- . -}}
            </p>
        {{- else -}}
            {{- if .Params.description -}}
            <p>{{ .Params.description }}</p>
            {{- end -}}
        {{- end -}}
{{- end -}}