<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    {{- /* 
        Логика следующая:
        - Если страница главная, то берётся заголовок сайта и его подзаголовок.
        - Если это простая страница, то берётся её заголовок и заголовок сайта.
    */}}
    {{- if .IsHome -}}
        {{ site.Title | markdownify }} · {{ site.Params.subtitle | markdownify }}
    {{- else -}}
        {{ .Title | markdownify }} · {{ site.Title | markdownify }}
    {{- end -}}
</title>
{{- partial "head/description" . }}
