<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    {{- if .IsHome -}}
        {{ .Site.Title | markdownify }} · {{ .Site.Params.subtitle | markdownify }}
    {{ else }}
        {{ .Title | markdownify }} · {{ .Site.Title | markdownify }}
    {{ end }}
</title>


<title>
  {{ if not .IsHome }}
    {{ .Title }}
  {{ else }}
    {{ $.Site.Title }}
  {{ end }}
</title>

{{ if .IsPage }} <meta name="description" content="{{ .Summary }}">  {{ end }}
<link rel="shortcut icon" type="image/x-icon" href="{{ $.Site.Params.favicon | relURL }}" />
